@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #27272e;
}

header {
    height: 5.25rem;
    background-color: #15151e;
    margin: 0;
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    gap: 1rem;
}

#fia-logo {
    width: 5rem;
}

#f1-logo {
    width: 8rem;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0.3rem;
}

.menu a {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}

.menu a:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

main {
    width: 95%;
    margin: 3rem auto;
}

.intro {
    width: 100%;
    font-family: 'Russo One';
    color: white;
    border-bottom: 2px solid gray;
    padding: 0 0 1rem;
}

.intro h1 {
    font-size: 3rem;
    font-weight: 600;
}

.intro p {
    font-size: 1.4rem;
    color: lightgray;
}

.standings {
    width: 100%;
    margin: 3rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.standings p {
    margin: 0;
}

.team1,
.team2,
.team3,
.team4,
.team5,
.team6 {
    width: 75%;
    max-width: 80rem;
    height: 14rem;
    padding: 0 1rem 0 0;
    background-color: #15151e;
    box-shadow: 1px 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.standings .team-img {
    width: 23rem;
    object-fit: cover;
}

.standings .info-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container .team-name-points {
    flex: 1;
    height: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bevan';
    color: rgb(219, 219, 219);
}

.team-name-points .team-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 1px;
}

.team-name img {
    width: 3rem;
}

.team-name h2 {
    margin: 0;
    font-size: 1.7rem;
}

.team-name-points .points {
    font-size: 1.4rem;
}

.info-container .team-drivers-results {
    height: 100%;
    flex: 1;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.team-drivers-results .drivers {
    font-size: 1.2rem;
    font-family: 'Ultra';
    color: rgb(219, 219, 219);
}

.team-drivers-results .results {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.results img {
    width: 2rem;
}

.p1,
.p2,
.p3 {
    font-family: 'Bevan';
    font-size: 1.1rem;
    color: rgb(180, 180, 180);
    display: flex;
    align-items: center;
}

.team1 {
    border: 1px solid #FEE101;
    box-shadow: 1px 0 10px #FEE101;
}

.team2 {
    border: 1px solid #D7D7D7;
    box-shadow: 1px 0 10px #D7D7D7;
}

.team3 {
    border: 1px solid #824A02;
    box-shadow: 1px 0 10px #824A02;
}

.team-rank {
    font-size: 2rem;
}

@media (max-width:768px) {
    header {
        height: fit-content;
        gap: 0;
    }

    .menu a {
        padding: 1rem 0.6rem;
    }
}